body{
    font-family: 'Poppins', sans-serif;
    margin:0 auto;
    padding:0;
}
#full-wrap{
    width: 991px;
    margin:0 auto;
}
p {
    font-size: 15px;
}
h1{
    font-size: 46px;
}
.header-item{
    display: flex;
    height: 160px;
}
.half-color{
    color: orange;
}
.bg-item{
    background-color: tomato;
    width:3px;
    margin-top: 57px;
    border-radius: 5px;
    margin-right: 10px;
}
.bg-item h1{
    padding-left: 10px;
    font-size: 60px;
}
#stay-focused{
    display: flex;
}
.half-width{
    width:50%;
    padding-left: 3%;
    
}
.half-width img{
    width:50%;
    padding-top: 12px;
}
.btn{
    background-color:tomato;
    color:white;
    padding:15px 40px;
    border-radius: 5px;
    border:none;
    font-size:20px;
}

.mission h1{
    text-align: center;
}
.my-mission{
    display: flex;
}
.my-mission div {
    width: 31%;
    height: 400px;
    margin-right: 4%;
    border-radius: 10px;
    padding:0 20px;
}
.about-mission h1{
    text-align: center;
}
.my-mission div:last-child {
    margin-left: none;
}
.mission-item-1{
    background-color: palegoldenrod;
    
}
.mission-item-2{
    background-color: palegreen;
}
.mission-item-3{
    background-color:seashell;
}
.img{
    height:200px;
}
.img-item{
    height:300px;
    margin-top: 40px;
}
.developer-section{
    display: flex;
}
.bg-img{
    position: absolute;
    left:350px;
    width:220px;
    height: 220px;
    z-index: -1;
    top:1000px
}
.about-develop{
    margin-left: 8%;
    width:50%;
}
#global-section{
    display: flex;
    margin-bottom: 46px;
}
#img{
    margin-left: 10px;
}
.bg-img-2{
    position: absolute;
    right:380px;
    width:200px;
    height: 200px;
    z-index: -1;
    top: 1472px;    
}
#about-me{
display:flex;
}
footer{
    background-color: black;
    text-align: center;
}
footer h1{
    padding-top: 8px;
}
footer p{
    padding-bottom: 10px;
}
#foot{
    color:orange;
}
footer{
    color:white;
}